**/.Rproj.user
**/.Rhistory
**/.RData
**/.Ruserdata
**/.stversions
**/.stignore
**/.cepespdata
**/*.txt
**/*.csv
**/*.ods
**/*.xls
**/*.xlsx
**/*.rds
**/*.7z
**/*.zip
**/*.png
**/antigos
!etc/SIAB/*.csv